In [ ]:
import os
import pandas as pd
import xml.etree.ElementTree as ET

In [ ]:
data = {'LabelName': [], 'FullScaleIQ': []}
df = pd.DataFrame(data)

In [ ]:
xml_folder = '/Users/siddharthdeo/Downloads/Segmented images/xml'

In [ ]:
import xml.etree.ElementTree as ET
import pandas as pd

In [ ]:
# import os
# import pandas as pd
# from bs4 import BeautifulSoup

# # Specify the directory containing XML files
# directory_path = '/Users/siddharthdeo/Downloads/Segmented images/xml/'

# # Initialize lists to store the extracted values
# all_values = []
# all_labels = []

# # Iterate through XML files in the directory
# for filename in os.listdir(directory_path):
#     if filename.endswith('.xml'):
#         file_path = os.path.join(directory_path, filename)

#         # Parse the XML file
#         with open(file_path, 'r') as xml_file:
#             xml_content = xml_file.read()

#         soup = BeautifulSoup(xml_content, 'xml')

#         # Initialize lists to store the extracted values and labels for this file
#         values = []
#         labels = []

#         # Find all <xnat:experiment> tags with the specified attribute
#         for experiment in soup.find_all('xnat:experiment', attrs={'label': lambda x: x and x.startswith('WASI')}):
#             # Extract the <nki:fullScaleIQ> tag within the <xnat:experiment> tag
#             full_scale_iq_tag = experiment.find('nki:fullScaleIQ')

#             if full_scale_iq_tag:
#                 # Extract the value inside the <nki:fullScaleIQ> tag
#                 value = full_scale_iq_tag.text.strip()
#                 values.append(value)

#         # Find all <xnat:Subject> tags and extract the 'label' attribute
#         for subject in soup.find_all('xnat:Subject', label=True):
#             label = subject['label']
#             labels.append(label)

#         # Append the values and labels from this file to the overall lists
#         all_values.extend(values)
#         all_labels.extend(labels)

# # Create a DataFrame from the extracted values and labels
# df = pd.DataFrame({'WASI_Values': all_values, 'Subject_Labels': all_labels})

# # Save the DataFrame to a CSV file
# df.to_csv('wasi_values.csv', index=False)

# # Print the DataFrame
# print(df)

In [6]:
import os
import pandas as pd
from bs4 import BeautifulSoup

# Specify the directory containing XML files
directory_path = '/Users/siddharthdeo/Downloads/Segmented images/xml/'

# Initialize lists to store the extracted values and labels
all_values = []
all_labels = []

# Iterate through XML files in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.xml'):
        file_path = os.path.join(directory_path, filename)

        # Parse the XML file
        with open(file_path, 'r') as xml_file:
            xml_content = xml_file.read()

        soup = BeautifulSoup(xml_content, 'xml')

        # Find all <xnat:experiment> tags with the specified attribute
        experiments = soup.find_all('xnat:experiment', attrs={'label': lambda x: x and x.startswith('WASI')})
        
        # Find all <xnat:Subject> tags and extract the 'label' attribute
        subjects = soup.find_all('xnat:Subject', label=True)

        # Iterate over experiments and match them with subjects based on position
        for i, experiment in enumerate(experiments):
            if i < len(subjects):
                label = subjects[i]['label']
                full_scale_iq_tag = experiment.find('nki:fullScaleIQ')
                
                if full_scale_iq_tag:
                    value = full_scale_iq_tag.text.strip()
                    all_values.append(value)
                    all_labels.append(label)

# Create a DataFrame from the extracted values and labels
df = pd.DataFrame({'Subject_Labels': all_labels, 'WASI_Values': all_values})

# Save the DataFrame to a CSV file
df.to_csv('wasi_values.csv', index=False)

# Print the DataFrame
print(df)

    Subject_Labels WASI_Values
0          3606220          87
1          2970212          93
2          4015919         105
3          4006955         101
4          2071045         126
..             ...         ...
191        1742775         100
192        1940084         129
193        4077433         105
194        4089896         109
195        1601547         119

[196 rows x 2 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Subject_Labels  196 non-null    object
 1   WASI_Values     196 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [16]:
import pandas as pd

# Your comma-separated string
data_str = "MR_1013090_500c, MR_1097782_3f0c, MR_1143655_1a05, MR_1150497_75ee, MR_1216620_3cfc, MR_1264721_41eb, MR_1285465_4097, MR_1288657_3170, MR_1292527_195c, MR_1334556_376f, MR_1339484_746a, MR_1351931_3fab, MR_1366839_7b3a, MR_1382333_3cb0, MR_1427581_3b35, MR_1438912_8008, MR_1445797_1a50, MR_1476437_35c5, MR_1494230_4400, MR_1508861_30e3, MR_1522653_4fdb, MR_1523112_43e6, MR_1525492_305c, MR_1591238_3ba9, MR_1616468_54cf, MR_1654606_4ec6, MR_1709141_56cb, MR_1713513_8f14, MR_1734822_4370, MR_1742775_1ba0, MR_1753435_1bac, MR_1757866_4f40, MR_1764982_611d, MR_1781836_1890, MR_1793622_6c0f, MR_1834799_6207, MR_1903493_6faf, MR_1915832_618d, MR_1931386_58c5, MR_1935851_51f7, MR_1940084_886b, MR_1943306_17ec, MR_1961098_32a5, MR_2005303_1b33, MR_2009256_6c04, MR_2071045_3726, MR_2113846_5421, MR_2132437_8438, MR_2139745_4bd9, MR_2160826_63ee, MR_2166659_3e46, MR_2176073_4f4f, MR_2221971_4602, MR_2258252_3733, MR_2286053_58bd, MR_2286816_3212, MR_2328270_6ebf, MR_2357976_6445, MR_2362594_83f0, MR_2436415_56b4, MR_2457957_362e, MR_2465771_586e, MR_2475376_33cc, MR_2483617_31e4, MR_2505567_3f9e, MR_2513310_8243, MR_2524225_5724, MR_2531270_2eae, MR_2541244_5224, MR_2589215_3450, MR_2631208_4a32, MR_2652676_1966, MR_2675807_52fd, MR_2731081_3439, MR_2784584_1a4d, MR_2788776_3192, MR_2799329_3fdf, MR_2842950_3b54, MR_2861923_4f24, MR_2864064_1da4, MR_2868630_18ae, MR_2882334_5225, MR_2915821_145e, MR_2967284_7619, MR_2986140_58fd, MR_3033715_6d00, MR_3070385_7e41, MR_3106263_36e1, MR_3209959_62ab, MR_3261820_5159, MR_3304648_6246, MR_3313349_35dd, MR_3315657_31a1, MR_3328556_35c7, MR_3329569_5c3a, MR_3346545_1c72, MR_3362208_1d99, MR_3366302_32de, MR_3374719_104f, MR_3409284_7122, MR_3431940_3dfd, MR_3466763_386d, MR_3486362_3a16, MR_3594255_7a2b, MR_3606220_5162, MR_3611212_36f0, MR_3695138_5f1a, MR_3701005_45e0, MR_3755111_7332, MR_3804254_31a0, MR_3808535_38ad, MR_3811036_3191, MR_3815065_347c, MR_3827479_5459, MR_3875444_19ae, MR_3893245_4b1e, MR_3895064_743f, MR_3911767_30b9, MR_3927656_3268, MR_3934325_3512, MR_3951328_331c, MR_3965194_3258, MR_4006955_5800, MR_4015919_5187, MR_4077433_4347, MR_4097119_886b, MR_4099085_8018, MR_4119751_351c, MR_4143704_4f12, MR_4154799_4e5d, MR_4176156_57ed, MR_4176156_5723, MR_4188346_502e, MR_4230470_1da0, MR_4288245_3482, MR_4290056_39b5, MR_4323037_4dd1, MR_4417007_1c85, MR_4487215_4033, MR_4710111_55b5, MR_4791943_50dd, MR_5108043_8448, MR_5161117_1b12, MR_5205221_75ed, MR_5279162_4eb6, MR_6471972_4235, MR_6539040_7cc6, MR_6692978_5233, MR_6709880_35e7, MR_6913939_6047, MR_7055197_3469, MR_7212617_774b, MR_8317157_45be, MR_8574662_50c0, MR_8628499_5332, MR_8691891_7ba2, MR_8735778_42bb, MR_9006154_37fc, MR_9100911_3a6e, MR_9421819_1328, MR_9536886_6b8e, MR_9630905_48ab, MR_9645370_3a31, MR_9716792_630c, MR_9780496_40a9"
# Split the string by commas to create a list of values
data_list = data_str.split(', ')

# Create a DataFrame from the list
dff = pd.DataFrame({'Column_Name': data_list})

# Print the DataFrame
print(dff)

         Column_Name
0    MR_1013090_500c
1    MR_1097782_3f0c
2    MR_1143655_1a05
3    MR_1150497_75ee
4    MR_1216620_3cfc
..               ...
160  MR_9536886_6b8e
161  MR_9630905_48ab
162  MR_9645370_3a31
163  MR_9716792_630c
164  MR_9780496_40a9

[165 rows x 1 columns]

In [17]:
dff

         Column_Name
0    MR_1013090_500c
1    MR_1097782_3f0c
2    MR_1143655_1a05
3    MR_1150497_75ee
4    MR_1216620_3cfc
..               ...
160  MR_9536886_6b8e
161  MR_9630905_48ab
162  MR_9645370_3a31
163  MR_9716792_630c
164  MR_9780496_40a9

[165 rows x 1 columns]

In [20]:
dff['ID'] = dff['Column_Name'].str.extract(r'MR_(\d+)_')[0].astype(str)

# Merge the two dataframes on the 'ID' column using a left join
result_df = dff.merge(df, left_on='ID', right_on='Subject_Labels', how='left')

# Drop the 'ID' column as it's no longer needed
result_df = result_df.drop(columns='ID')

print(result_df)

         Column_Name Subject_Labels WASI_Values
0    MR_1013090_500c        1013090         109
1    MR_1097782_3f0c        1097782         127
2    MR_1143655_1a05        1143655         127
3    MR_1150497_75ee        1150497         113
4    MR_1216620_3cfc        1216620         120
..               ...            ...         ...
162  MR_9536886_6b8e        9536886         104
163  MR_9630905_48ab        9630905         113
164  MR_9645370_3a31        9645370         113
165  MR_9716792_630c        9716792         108
166  MR_9780496_40a9        9780496         100

[167 rows x 3 columns]

In [24]:
for i in range(167):
    print(result_df.iloc[i])
# result_df.isna().sum()

Column_Name       MR_1013090_500c
Subject_Labels            1013090
WASI_Values                   109
Name: 0, dtype: object
Column_Name       MR_1097782_3f0c
Subject_Labels            1097782
WASI_Values                   127
Name: 1, dtype: object
Column_Name       MR_1143655_1a05
Subject_Labels            1143655
WASI_Values                   127
Name: 2, dtype: object
Column_Name       MR_1150497_75ee
Subject_Labels            1150497
WASI_Values                   113
Name: 3, dtype: object
Column_Name       MR_1216620_3cfc
Subject_Labels            1216620
WASI_Values                   120
Name: 4, dtype: object
Column_Name       MR_1264721_41eb
Subject_Labels            1264721
WASI_Values                   103
Name: 5, dtype: object
Column_Name       MR_1285465_4097
Subject_Labels            1285465
WASI_Values                   106
Name: 6, dtype: object
Column_Name       MR_1288657_3170
Subject_Labels            1288657
WASI_Values                   114
Name: 7, dtype: object
Column_Name       MR_1292527_195c
Subject_Labels            1292527
WASI_Values                    94
Name: 8, dtype: object
Column_Name       MR_1334556_376f
Subject_Labels            1334556
WASI_Values                   129
Name: 9, dtype: object
Column_Name       MR_1339484_746a
Subject_Labels            1339484
WASI_Values                   118
Name: 10, dtype: object
Column_Name       MR_1351931_3fab
Subject_Labels            1351931
WASI_Values                   114
Name: 11, dtype: object
Column_Name       MR_1366839_7b3a
Subject_Labels            1366839
WASI_Values                   120
Name: 12, dtype: object
Column_Name       MR_1382333_3cb0
Subject_Labels            1382333
WASI_Values                   100
Name: 13, dtype: object
Column_Name       MR_1427581_3b35
Subject_Labels            1427581
WASI_Values                   108
Name: 14, dtype: object
Column_Name       MR_1438912_8008
Subject_Labels            1438912
WASI_Values                   118
Name: 15, dtype: object
Column_Name       MR_1445797_1a50
Subject_Labels            1445797
WASI_Values                   100
Name: 16, dtype: object
Column_Name       MR_1476437_35c5
Subject_Labels            1476437
WASI_Values                   115
Name: 17, dtype: object
Column_Name       MR_1494230_4400
Subject_Labels            1494230
WASI_Values                    84
Name: 18, dtype: object
Column_Name       MR_1508861_30e3
Subject_Labels            1508861
WASI_Values                   108
Name: 19, dtype: object
Column_Name       MR_1522653_4fdb
Subject_Labels            1522653
WASI_Values                   108
Name: 20, dtype: object
Column_Name       MR_1523112_43e6
Subject_Labels            1523112
WASI_Values                   109
Name: 21, dtype: object
Column_Name       MR_1525492_305c
Subject_Labels            1525492
WASI_Values                   100
Name: 22, dtype: object
Column_Name       MR_1591238_3ba9
Subject_Labels            1591238
WASI_Values                   109
Name: 23, dtype: object
Column_Name       MR_1616468_54cf
Subject_Labels            1616468
WASI_Values                   103
Name: 24, dtype: object
Column_Name       MR_1654606_4ec6
Subject_Labels            1654606
WASI_Values                    89
Name: 25, dtype: object
Column_Name       MR_1709141_56cb
Subject_Labels            1709141
WASI_Values                   116
Name: 26, dtype: object
Column_Name       MR_1713513_8f14
Subject_Labels            1713513
WASI_Values                   123
Name: 27, dtype: object
Column_Name       MR_1734822_4370
Subject_Labels            1734822
WASI_Values                    92
Name: 28, dtype: object
Column_Name       MR_1742775_1ba0
Subject_Labels            1742775
WASI_Values                   100
Name: 29, dtype: object
Column_Name       MR_1753435_1bac
Subject_Labels            1753435
WASI_Values                   109
Name: 30, dtype: object
Column_Name       MR_1757866_4f40
Subject_Labels            1757866
WASI_Values                    87
Name: 31, dtype: object
Column_Name       MR_1764982_611d
Subject_Labels            1764982
WASI_Values                    74
Name: 32, dtype: object
Column_Name       MR_1781836_1890
Subject_Labels            1781836
WASI_Values                   128
Name: 33, dtype: object
Column_Name       MR_1793622_6c0f
Subject_Labels            1793622
WASI_Values                   121
Name: 34, dtype: object
Column_Name       MR_1834799_6207
Subject_Labels            1834799
WASI_Values                   124
Name: 35, dtype: object
Column_Name       MR_1903493_6faf
Subject_Labels            1903493
WASI_Values                   120
Name: 36, dtype: object
Column_Name       MR_1915832_618d
Subject_Labels            1915832
WASI_Values                   118
Name: 37, dtype: object
Column_Name       MR_1931386_58c5
Subject_Labels            1931386
WASI_Values                    98
Name: 38, dtype: object
Column_Name       MR_1935851_51f7
Subject_Labels            1935851
WASI_Values                   106
Name: 39, dtype: object
Column_Name       MR_1940084_886b
Subject_Labels            1940084
WASI_Values                   129
Name: 40, dtype: object
Column_Name       MR_1943306_17ec
Subject_Labels            1943306
WASI_Values                   104
Name: 41, dtype: object
Column_Name       MR_1961098_32a5
Subject_Labels            1961098
WASI_Values                   100
Name: 42, dtype: object
Column_Name       MR_2005303_1b33
Subject_Labels            2005303
WASI_Values                   129
Name: 43, dtype: object
Column_Name       MR_2009256_6c04
Subject_Labels            2009256
WASI_Values                   112
Name: 44, dtype: object
Column_Name       MR_2071045_3726
Subject_Labels            2071045
WASI_Values                   126
Name: 45, dtype: object
Column_Name       MR_2113846_5421
Subject_Labels            2113846
WASI_Values                   101
Name: 46, dtype: object
Column_Name       MR_2132437_8438
Subject_Labels            2132437
WASI_Values                    97
Name: 47, dtype: object
Column_Name       MR_2139745_4bd9
Subject_Labels            2139745
WASI_Values                    92
Name: 48, dtype: object
Column_Name       MR_2160826_63ee
Subject_Labels            2160826
WASI_Values                   113
Name: 49, dtype: object
Column_Name       MR_2166659_3e46
Subject_Labels            2166659
WASI_Values                    85
Name: 50, dtype: object
Column_Name       MR_2176073_4f4f
Subject_Labels            2176073
WASI_Values                   118
Name: 51, dtype: object
Column_Name       MR_2221971_4602
Subject_Labels            2221971
WASI_Values                    84
Name: 52, dtype: object
Column_Name       MR_2258252_3733
Subject_Labels            2258252
WASI_Values                   125
Name: 53, dtype: object
Column_Name       MR_2286053_58bd
Subject_Labels            2286053
WASI_Values                   106
Name: 54, dtype: object
Column_Name       MR_2286816_3212
Subject_Labels            2286816
WASI_Values                   123
Name: 55, dtype: object
Column_Name       MR_2328270_6ebf
Subject_Labels            2328270
WASI_Values                   105
Name: 56, dtype: object
Column_Name       MR_2357976_6445
Subject_Labels            2357976
WASI_Values                   119
Name: 57, dtype: object
Column_Name       MR_2362594_83f0
Subject_Labels            2362594
WASI_Values                   104
Name: 58, dtype: object
Column_Name       MR_2436415_56b4
Subject_Labels            2436415
WASI_Values                   123
Name: 59, dtype: object
Column_Name       MR_2457957_362e
Subject_Labels            2457957
WASI_Values                   107
Name: 60, dtype: object
Column_Name       MR_2465771_586e
Subject_Labels            2465771
WASI_Values                    89
Name: 61, dtype: object
Column_Name       MR_2475376_33cc
Subject_Labels            2475376
WASI_Values                   120
Name: 62, dtype: object
Column_Name       MR_2483617_31e4
Subject_Labels            2483617
WASI_Values                   120
Name: 63, dtype: object
Column_Name       MR_2505567_3f9e
Subject_Labels            2505567
WASI_Values                    91
Name: 64, dtype: object
Column_Name       MR_2513310_8243
Subject_Labels            2513310
WASI_Values                   131
Name: 65, dtype: object
Column_Name       MR_2524225_5724
Subject_Labels            2524225
WASI_Values                   113
Name: 66, dtype: object
Column_Name       MR_2531270_2eae
Subject_Labels            2531270
WASI_Values                   123
Name: 67, dtype: object
Column_Name       MR_2541244_5224
Subject_Labels            2541244
WASI_Values                   105
Name: 68, dtype: object
Column_Name       MR_2589215_3450
Subject_Labels            2589215
WASI_Values                   113
Name: 69, dtype: object
Column_Name       MR_2631208_4a32
Subject_Labels            2631208
WASI_Values                   101
Name: 70, dtype: object
Column_Name       MR_2652676_1966
Subject_Labels            2652676
WASI_Values                   103
Name: 71, dtype: object
Column_Name       MR_2675807_52fd
Subject_Labels            2675807
WASI_Values                    98
Name: 72, dtype: object
Column_Name       MR_2731081_3439
Subject_Labels            2731081
WASI_Values                   115
Name: 73, dtype: object
Column_Name       MR_2784584_1a4d
Subject_Labels            2784584
WASI_Values                   106
Name: 74, dtype: object
Column_Name       MR_2788776_3192
Subject_Labels            2788776
WASI_Values                   114
Name: 75, dtype: object
Column_Name       MR_2799329_3fdf
Subject_Labels            2799329
WASI_Values                   103
Name: 76, dtype: object
Column_Name       MR_2842950_3b54
Subject_Labels            2842950
WASI_Values                   103
Name: 77, dtype: object
Column_Name       MR_2861923_4f24
Subject_Labels            2861923
WASI_Values                    88
Name: 78, dtype: object
Column_Name       MR_2864064_1da4
Subject_Labels            2864064
WASI_Values                    89
Name: 79, dtype: object
Column_Name       MR_2868630_18ae
Subject_Labels            2868630
WASI_Values                    95
Name: 80, dtype: object
Column_Name       MR_2882334_5225
Subject_Labels            2882334
WASI_Values                   125
Name: 81, dtype: object
Column_Name       MR_2915821_145e
Subject_Labels            2915821
WASI_Values                   109
Name: 82, dtype: object
Column_Name       MR_2967284_7619
Subject_Labels            2967284
WASI_Values                   114
Name: 83, dtype: object
Column_Name       MR_2986140_58fd
Subject_Labels            2986140
WASI_Values                   111
Name: 84, dtype: object
Column_Name       MR_3033715_6d00
Subject_Labels            3033715
WASI_Values                    90
Name: 85, dtype: object
Column_Name       MR_3070385_7e41
Subject_Labels            3070385
WASI_Values                    92
Name: 86, dtype: object
Column_Name       MR_3106263_36e1
Subject_Labels            3106263
WASI_Values                   123
Name: 87, dtype: object
Column_Name       MR_3209959_62ab
Subject_Labels            3209959
WASI_Values                    97
Name: 88, dtype: object
Column_Name       MR_3261820_5159
Subject_Labels            3261820
WASI_Values                   107
Name: 89, dtype: object
Column_Name       MR_3304648_6246
Subject_Labels            3304648
WASI_Values                   119
Name: 90, dtype: object
Column_Name       MR_3313349_35dd
Subject_Labels            3313349
WASI_Values                   113
Name: 91, dtype: object
Column_Name       MR_3315657_31a1
Subject_Labels            3315657
WASI_Values                   105
Name: 92, dtype: object
Column_Name       MR_3328556_35c7
Subject_Labels            3328556
WASI_Values                   123
Name: 93, dtype: object
Column_Name       MR_3329569_5c3a
Subject_Labels            3329569
WASI_Values                   137
Name: 94, dtype: object
Column_Name       MR_3346545_1c72
Subject_Labels            3346545
WASI_Values                   118
Name: 95, dtype: object
Column_Name       MR_3362208_1d99
Subject_Labels            3362208
WASI_Values                   104
Name: 96, dtype: object
Column_Name       MR_3362208_1d99
Subject_Labels            3362208
WASI_Values                   104
Name: 97, dtype: object
Column_Name       MR_3366302_32de
Subject_Labels            3366302
WASI_Values                   116
Name: 98, dtype: object
Column_Name       MR_3374719_104f
Subject_Labels            3374719
WASI_Values                   123
Name: 99, dtype: object
Column_Name       MR_3409284_7122
Subject_Labels            3409284
WASI_Values                   100
Name: 100, dtype: object
Column_Name       MR_3431940_3dfd
Subject_Labels            3431940
WASI_Values                    95
Name: 101, dtype: object
Column_Name       MR_3466763_386d
Subject_Labels            3466763
WASI_Values                   106
Name: 102, dtype: object
Column_Name       MR_3486362_3a16
Subject_Labels            3486362
WASI_Values                   120
Name: 103, dtype: object
Column_Name       MR_3594255_7a2b
Subject_Labels            3594255
WASI_Values                   113
Name: 104, dtype: object
Column_Name       MR_3606220_5162
Subject_Labels            3606220
WASI_Values                    87
Name: 105, dtype: object
Column_Name       MR_3611212_36f0
Subject_Labels            3611212
WASI_Values                   138
Name: 106, dtype: object
Column_Name       MR_3695138_5f1a
Subject_Labels            3695138
WASI_Values                    95
Name: 107, dtype: object
Column_Name       MR_3701005_45e0
Subject_Labels            3701005
WASI_Values                   107
Name: 108, dtype: object
Column_Name       MR_3755111_7332
Subject_Labels            3755111
WASI_Values                   131
Name: 109, dtype: object
Column_Name       MR_3804254_31a0
Subject_Labels            3804254
WASI_Values                    98
Name: 110, dtype: object
Column_Name       MR_3808535_38ad
Subject_Labels            3808535
WASI_Values                   106
Name: 111, dtype: object
Column_Name       MR_3811036_3191
Subject_Labels            3811036
WASI_Values                   120
Name: 112, dtype: object
Column_Name       MR_3815065_347c
Subject_Labels            3815065
WASI_Values                   114
Name: 113, dtype: object
Column_Name       MR_3827479_5459
Subject_Labels            3827479
WASI_Values                    74
Name: 114, dtype: object
Column_Name       MR_3875444_19ae
Subject_Labels            3875444
WASI_Values                   112
Name: 115, dtype: object
Column_Name       MR_3893245_4b1e
Subject_Labels            3893245
WASI_Values                   100
Name: 116, dtype: object
Column_Name       MR_3895064_743f
Subject_Labels            3895064
WASI_Values                   108
Name: 117, dtype: object
Column_Name       MR_3911767_30b9
Subject_Labels            3911767
WASI_Values                   123
Name: 118, dtype: object
Column_Name       MR_3927656_3268
Subject_Labels            3927656
WASI_Values                   117
Name: 119, dtype: object
Column_Name       MR_3934325_3512
Subject_Labels            3934325
WASI_Values                   124
Name: 120, dtype: object
Column_Name       MR_3951328_331c
Subject_Labels            3951328
WASI_Values                    88
Name: 121, dtype: object
Column_Name       MR_3965194_3258
Subject_Labels            3965194
WASI_Values                   107
Name: 122, dtype: object
Column_Name       MR_4006955_5800
Subject_Labels            4006955
WASI_Values                   101
Name: 123, dtype: object
Column_Name       MR_4015919_5187
Subject_Labels            4015919
WASI_Values                   105
Name: 124, dtype: object
Column_Name       MR_4077433_4347
Subject_Labels            4077433
WASI_Values                   105
Name: 125, dtype: object
Column_Name       MR_4097119_886b
Subject_Labels            4097119
WASI_Values                   100
Name: 126, dtype: object
Column_Name       MR_4099085_8018
Subject_Labels            4099085
WASI_Values                    93
Name: 127, dtype: object
Column_Name       MR_4119751_351c
Subject_Labels            4119751
WASI_Values                    94
Name: 128, dtype: object
Column_Name       MR_4143704_4f12
Subject_Labels            4143704
WASI_Values                   136
Name: 129, dtype: object
Column_Name       MR_4154799_4e5d
Subject_Labels            4154799
WASI_Values                   109
Name: 130, dtype: object
Column_Name       MR_4176156_57ed
Subject_Labels            4176156
WASI_Values                   108
Name: 131, dtype: object
Column_Name       MR_4176156_5723
Subject_Labels            4176156
WASI_Values                   108
Name: 132, dtype: object
Column_Name       MR_4188346_502e
Subject_Labels            4188346
WASI_Values                   114
Name: 133, dtype: object
Column_Name       MR_4230470_1da0
Subject_Labels            4230470
WASI_Values                    90
Name: 134, dtype: object
Column_Name       MR_4288245_3482
Subject_Labels            4288245
WASI_Values                   106
Name: 135, dtype: object
Column_Name       MR_4288245_3482
Subject_Labels            4288245
WASI_Values                   106
Name: 136, dtype: object
Column_Name       MR_4290056_39b5
Subject_Labels            4290056
WASI_Values                   108
Name: 137, dtype: object
Column_Name       MR_4323037_4dd1
Subject_Labels            4323037
WASI_Values                    98
Name: 138, dtype: object
Column_Name       MR_4417007_1c85
Subject_Labels            4417007
WASI_Values                   115
Name: 139, dtype: object
Column_Name       MR_4487215_4033
Subject_Labels            4487215
WASI_Values                    86
Name: 140, dtype: object
Column_Name       MR_4710111_55b5
Subject_Labels            4710111
WASI_Values                   114
Name: 141, dtype: object
Column_Name       MR_4791943_50dd
Subject_Labels            4791943
WASI_Values                   123
Name: 142, dtype: object
Column_Name       MR_5108043_8448
Subject_Labels            5108043
WASI_Values                   132
Name: 143, dtype: object
Column_Name       MR_5161117_1b12
Subject_Labels            5161117
WASI_Values                   120
Name: 144, dtype: object
Column_Name       MR_5205221_75ed
Subject_Labels            5205221
WASI_Values                   107
Name: 145, dtype: object
Column_Name       MR_5279162_4eb6
Subject_Labels            5279162
WASI_Values                   109
Name: 146, dtype: object
Column_Name       MR_6471972_4235
Subject_Labels            6471972
WASI_Values                   103
Name: 147, dtype: object
Column_Name       MR_6539040_7cc6
Subject_Labels            6539040
WASI_Values                   127
Name: 148, dtype: object
Column_Name       MR_6692978_5233
Subject_Labels            6692978
WASI_Values                   109
Name: 149, dtype: object
Column_Name       MR_6709880_35e7
Subject_Labels            6709880
WASI_Values                   124
Name: 150, dtype: object
Column_Name       MR_6913939_6047
Subject_Labels            6913939
WASI_Values                   123
Name: 151, dtype: object
Column_Name       MR_7055197_3469
Subject_Labels            7055197
WASI_Values                   130
Name: 152, dtype: object
Column_Name       MR_7212617_774b
Subject_Labels            7212617
WASI_Values                   119
Name: 153, dtype: object
Column_Name       MR_8317157_45be
Subject_Labels            8317157
WASI_Values                    94
Name: 154, dtype: object
Column_Name       MR_8574662_50c0
Subject_Labels            8574662
WASI_Values                    95
Name: 155, dtype: object
Column_Name       MR_8628499_5332
Subject_Labels            8628499
WASI_Values                   103
Name: 156, dtype: object
Column_Name       MR_8691891_7ba2
Subject_Labels            8691891
WASI_Values                   106
Name: 157, dtype: object
Column_Name       MR_8735778_42bb

In [25]:
result_df[result_df['WASI_Values'].isna()]

Empty DataFrame
Columns: [Column_Name, Subject_Labels, WASI_Values]
Index: []

In [26]:
result_df.dropna(inplace=True)

In [27]:
result_df.isna().sum()

Column_Name       0
Subject_Labels    0
WASI_Values       0
dtype: int64

In [31]:
result_df

         Column_Name Subject_Labels WASI_Values
0    MR_1013090_500c        1013090         109
1    MR_1097782_3f0c        1097782         127
2    MR_1143655_1a05        1143655         127
3    MR_1150497_75ee        1150497         113
4    MR_1216620_3cfc        1216620         120
..               ...            ...         ...
162  MR_9536886_6b8e        9536886         104
163  MR_9630905_48ab        9630905         113
164  MR_9645370_3a31        9645370         113
165  MR_9716792_630c        9716792         108
166  MR_9780496_40a9        9780496         100

[167 rows x 3 columns]

In [42]:
result_df.drop_duplicates(inplace=True)

In [41]:
result_df.to_csv('FullScaleIQ.csv',index=False)